$header-bg-img: url(../img/m-h-day.jpg);
$header-logo-font-style: 'Hind', sans-serif;
$header-heading-font-style: 'Source Sans Pro', sans-serif;
$header-text-font-style: 'Source Sans Pro', sans-serif;
$header-color: #282b39;
$header-login-color: #fff;
$btn-color:#699a00;

$section-text-style: 'Source Sans Pro', sans-serif;
$section-card-container-style: 'Hind', sans-serif;
$section-text-color: #282b39;
$section-card-heading: #fff;
$section-card-text-style: 'Source Sans Pro', sans-serif;
$section-card-text: #babcc0;
$section-banner-color: #2c5dcd;
$section-banner-heading-style: 'Source Sans Pro', sans-serif;
$section-banner-heading-color: #282b39;
$section-banner-heading-text: 'Hind', sans-serif;
$section-banner-text: #babcc0;

$footer-style: 'Hind', sans-serif;
$footer-color: #babcc0;

$link-hover: #0ca1c8;
  $btn-hover: #587e08;
 $btn-hover-color: #282b39;

$color: (
  page-bg-color: #fff,
  bg-color: #1c1e2a,
  text-bg: #0ca1c8
);






