$header-bg-img: url(../img/m-h-night.jpg);
$header-logo-font-style: 'Fresca', sans-serif;
$header-heading-font-style: 'Source Sans Pro', sans-serif;
$header-text-font-style: 'Fresca', sans-serif;
$header-color: #fff;
$header-login-color: #fff;
$btn-color:#e4ae00;

$section-text-style: 'Source Sans Pro', sans-serif;
$section-card-container-style: 'Hind', sans-serif;
$section-text-color: #fff;
$section-card-heading: #fff;
$section-card-text-style: 'Fresca', sans-serif;
$section-card-text: #babcc0;
$section-banner-color: #932851;
$section-banner-heading-style: 'Source Sans Pro', sans-serif;
$section-banner-heading-color: #282b39;
$section-banner-heading-text: 'Fresca', sans-serif;
$section-banner-text: #babcc0;

$footer-style: 'Fresca', sans-serif;
$footer-color: #babcc0;

$link-hover: #ff4d30;
  $btn-hover: #b97c0a;
 $btn-hover-color: #282b39;

$color: (
  page-bg-color: #1c1e2a,
  bg-color: #383d4f,
  text-bg: #ff4d30
);
